{% extends "base.html" %}

{% block title %}
歌曲列表 - QiQi的音乐网站
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4">歌曲列表</h3>
    {% if page_obj %}
        <div class="list-group shadow-sm">
            {% for song in page_obj %}
                {% include "components/song_card.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-secondary text-center">
            暂无歌曲
        </div>
    {% endif %}
    <!-- 分页 -->
    {% include "components/pagination.html" %}
</div>
{% endblock %}
